<launch>
  
  <env name="GAZEBO_MODEL_PATH" value="$(find demo-gazebo)/models"/>
  <arg name="extra_gazebo_args" default="--verbose"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find demo-gazebo)/worlds/test.world"/>
    
    <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>
  </include>
    
<include file="$(find m2wr_description)/launch/spawn.launch"/>
          
</launch>