<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <env name="GAZEBO_MODEL_PATH" value="$(find myrobot_gazebo)/models"/>
  <arg name="extra_gazebo_args" default="--verbose"/>
  
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find myrobot_gazebo)/worlds/myrobot.world"/>
    
    <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>
    <!-- more default parameters can be changed here -->
  </include>
  
  <include file="$(find m2wr_description)/launch/spawn.launch"/>


  
</launch>
